.book {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 50%,
        transparent 50%),
        url(../images/nat-10.jpg);
    background-size: cover;
    height: 50rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    &__form {
        width: 50%;
        padding: 6rem;
    }
}

.form {
    
    &__group:not(:last-child) {
        margin-bottom: 5rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
            border-bottom: 3px solid $color-primary;

            &:invalid {
                border-bottom: 3px solid $color-secondary-dark;
            }
        }
    }


    &__label {
        display: block;
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}