.footer {
    background-color: $color-grey-dark-3;
    color: $color-grey-light-1;
    padding: 10rem 0;
    font-size: 1.4rem;

    @include respond(tablet-portrait) {
        padding: 8rem 0;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 4rem;
    }

    &__logo {
        width: 15rem;
        height: auto;
        

        @include respond(tablet-portrait) {
            width: 10rem;
        }

    }

    &__navigation {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tablet-portrait) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {

        &:link,
        &:visited {
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright {
        text-transform: uppercase;
        letter-spacing: 1px;
        border-top: 1px solid $color-grey-dark;
        width: 80%;
        float: right;
        padding-top: 2rem;
        text-align: center;

        @include respond(tablet-portrait) {
            width: 100%;
            text-align: center;
        }
    }
}