// Clearfix
@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

// Card background
@mixin card-background($color1, $color2, $opacity: 1, $image: null) {
    background-image: linear-gradient(to right bottom, rgba($color1, $opacity), rgba($color2, $opacity)), $image;
}


// Center Horizontal-Vertical

@mixin center-hor-ver($top: 50%, $left: 50%) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate(-50%, -50%);
}


// MEDIA QUERY MANAGER

/* 
    0-600px: Phone
    600-900px: Tablet portrait
    900-1200: Tablet landscape
    [1200-1800px]: where our styles apply
    1800-up: Big desktop
  
$breakpoint argument choices
    -phone
    -tablet-portrait
    -tablet-landscape
    -desktop
    -desktop-big


1em == 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; // upto 600px
    }

    @if $breakpoint == tablet-portrait {
        @media (max-width: 56.25em) { @content }; // 600px-900px
    }

    @if $breakpoint == tablet-landscape {
        @media (max-width: 75em) { @content }; // 900px-1200px
    }

    @if $breakpoint == desktop-big {
        @media (min-width: 112.5em) { @content }; // 1800px-up
    }
}