// About section
.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tablet-portrait) {
        padding: 20rem 0;
    }
}

//Features section

.section-features {
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, .8),
        rgba($color-primary-dark, .8)), 
        url(../images/nat-4.jpg);
    background-size: cover;

    padding: 20rem 0;
    margin-top: -10rem;
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }

    @include respond(tablet-portrait) {
        padding: 10rem 0;
    }

}


// Tours section

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    @include respond(tablet-portrait) {
        padding: 20rem 0 10rem 0;
    }
}

// Stories section

.section-stories {
    padding: 5rem 0;
    position: relative;
}

// Booking section

.section-booking {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}